img {
    width: 400px;
}

h1 {
    color: white;
}

h2 {
    color: #b30000;
    font-family: 'Pirata One', cursive;
}

p {
    color: white;
}

div {
    color: hotpink;
}

body {
    background-color: black;
}